.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-box {
  width: 300px;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
}

.btn-submit {
  background-color: blue;
  color: #fff;
  position: relative;
  top: 2px;
  padding: 9px;
  border-radius: 0px 10px 10px 0px;
}

.error-msg {
  font-size: 1.6rem;
}

.card-container {
  background-color: #fff;
  display: flex;
  width: 800px;
  padding: 30px;
  margin-bottom: 20px;
}

.card-img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card-name {
  color: #000;
  font-size: 1.6rem;
  margin: 0px;
}

.card-description {
  color: gray;
  font-size: 1.6rem;
  text-align: start;
  margin: 0px;
}
